<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.request_api.request_api_key.mapper.RequestApiKeyMapper">
    
    <resultMap type="RequestApiKey" id="RequestApiKeyResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="respKey" column="resp_key"/>
        <result property="reqParams" column="req_params"/>
        <result property="keyOverdue" column="key_overdue"/>
        <result property="keySmsCount" column="key_sms_count"/>
        <result property="sendCount" column="send_count"/>
        <result property="ipAllowList" column="ip_allow_list"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectRequestApiKeyVo">
        select id,
               user_id,
               resp_key,
               req_params,
               key_overdue,
               key_sms_count,
               send_count,
               ip_allow_list,
               is_delete,
               create_time,
               update_time
        from request_api_key
    </sql>
    
    <select id="selectRequestApiKeyList"
            parameterType="RequestApiKey"
            resultMap="RequestApiKeyResult">
        <include refid="selectRequestApiKeyVo"/>
        <where>
            <if test="userId != null  and userId != ''">and user_id like '%${userId}%'</if>
            <if test="respKey != null  and respKey != ''">and resp_key like '%${respKey}%'</if>
            <if test="reqParams != null  and reqParams != ''">and req_params like '%${reqParams}%'</if>
            <if test="keyOverdue != null ">and key_overdue like '%${keyOverdue}%'</if>
            <if test="keySmsCount != null ">and key_sms_count like '%${keySmsCount}%'</if>
            <if test="sendCount != null ">and send_count like '%${sendCount}%'</if>
            <if test="ipAllowList != null  and ipAllowList != ''">and ip_allow_list like '%${ipAllowList}%'</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
        </where>
    </select>
    
    <select id="selectRequestApiKeyById"
            parameterType="Long"
            resultMap="RequestApiKeyResult">
        <include refid="selectRequestApiKeyVo"/>
        where id = #{id}
        and is_delete = 0
    </select>
    
    <select id="selectRequestApiKeyByKey"
            parameterType="String"
            resultMap="RequestApiKeyResult">
        <include refid="selectRequestApiKeyVo"/>
        where resp_key = #{key}
            and is_delete = 0
    </select>
    
    <insert id="insertRequestApiKey" parameterType="RequestApiKey" useGeneratedKeys="true" keyProperty="id">
        insert into request_api_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="respKey != null">resp_key,</if>
            <if test="reqParams != null">req_params,</if>
            <if test="keyOverdue != null">key_overdue,</if>
            <if test="keySmsCount != null">key_sms_count,</if>
            <if test="sendCount != null">send_count,</if>
            <if test="ipAllowList != null">ip_allow_list,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="respKey != null">#{respKey},</if>
            <if test="reqParams != null">#{reqParams},</if>
            <if test="keyOverdue != null">#{keyOverdue},</if>
            <if test="keySmsCount != null">#{keySmsCount},</if>
            <if test="sendCount != null">#{sendCount},</if>
            <if test="ipAllowList != null">#{ipAllowList},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    
    <update id="updateRequestApiKey" parameterType="RequestApiKey">
        update request_api_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="respKey != null">resp_key = #{respKey},</if>
            <if test="reqParams != null">req_params = #{reqParams},</if>
            <if test="keyOverdue != null">key_overdue = #{keyOverdue},</if>
            <if test="keySmsCount != null">key_sms_count = #{keySmsCount},</if>
            <if test="sendCount != null">send_count = #{sendCount},</if>
            <if test="ipAllowList != null">ip_allow_list = #{ipAllowList},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteRequestApiKeyById" parameterType="Long">
        delete
        from request_api_key
        where id = #{id}
    </delete>
    
    <delete id="deleteRequestApiKeyByIds" parameterType="String">
        delete from request_api_key where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <update id="addSendCount" parameterType="String">
        UPDATE request_api_key
        SET send_count = send_count + 1
        WHERE resp_key = #{key}
    </update>
    
</mapper>