<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.request_api.request_api_key_send_log.mapper.RequestApiKeySendLogMapper">
    
    <resultMap type="RequestApiKeySendLog" id="RequestApiKeySendLogResult">
        <result property="id" column="id"/>
        <result property="logTitle" column="log_title"/>
        <result property="reqIp" column="req_ip"/>
        <result property="reqAddress" column="req_address"/>
        <result property="reqAgent" column="req_agent"/>
        <result property="reqBrowser" column="req_browser"/>
        <result property="reqSystem" column="req_system"/>
        <result property="reqUrl" column="req_url"/>
        <result property="reqMethod" column="req_method"/>
        <result property="reqKey" column="req_key"/>
        <result property="reqParams" column="req_params"/>
        <result property="isSuccess" column="is_success"/>
        <result property="effectRows" column="effect_rows"/>
        <result property="timeOut" column="time_out"/>
        <result property="exception" column="exception"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectRequestApiKeySendLogVo">
        select id,
               log_title,
               req_ip,
               req_address,
               req_agent,
               req_browser,
               req_system,
               req_url,
               req_method,
               req_key,
               req_params,
               is_success,
               effect_rows,
               time_out, exception, is_delete, create_time, update_time
        from request_api_key_send_log
    </sql>
    
    <select id="selectRequestApiKeySendLogList"
            parameterType="RequestApiKeySendLog"
            resultMap="RequestApiKeySendLogResult">
        <include refid="selectRequestApiKeySendLogVo"/>
        <where>
            <if test="logTitle != null  and logTitle != ''">and log_title like '%${logTitle}%'</if>
            <if test="reqIp != null  and reqIp != ''">and req_ip like '%${reqIp}%'</if>
            <if test="reqAddress != null  and reqAddress != ''">and req_address like '%${reqAddress}%'</if>
            <if test="reqAgent != null  and reqAgent != ''">and req_agent like '%${reqAgent}%'</if>
            <if test="reqBrowser != null  and reqBrowser != ''">and req_browser like '%${reqBrowser}%'</if>
            <if test="reqSystem != null  and reqSystem != ''">and req_system like '%${reqSystem}%'</if>
            <if test="reqUrl != null  and reqUrl != ''">and req_url like '%${reqUrl}%'</if>
            <if test="reqMethod != null  and reqMethod != ''">and req_method like '%${reqMethod}%'</if>
            <if test="reqKey != null  and reqKey != ''">and req_key like '%${reqKey}%'</if>
            <if test="reqParams != null  and reqParams != ''">and req_params like '%${reqParams}%'</if>
            <if test="isSuccess != null ">and is_success like '%${isSuccess}%'</if>
            <if test="effectRows != null  and effectRows != ''">and effect_rows like '%${effectRows}%'</if>
            <if test="timeOut != null ">and time_out like '%${timeOut}%'</if>
            <if test="exception != null  and exception != ''">and exception like '%${exception}%'</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
        </where>
    </select>
    
    <select id="selectRequestApiKeySendLogById"
            parameterType="Long"
            resultMap="RequestApiKeySendLogResult">
        <include refid="selectRequestApiKeySendLogVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertRequestApiKeySendLog" parameterType="RequestApiKeySendLog" useGeneratedKeys="true"
            keyProperty="id">
        insert into request_api_key_send_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="logTitle != null">log_title,</if>
            <if test="reqIp != null">req_ip,</if>
            <if test="reqAddress != null">req_address,</if>
            <if test="reqAgent != null">req_agent,</if>
            <if test="reqBrowser != null">req_browser,</if>
            <if test="reqSystem != null">req_system,</if>
            <if test="reqUrl != null">req_url,</if>
            <if test="reqMethod != null">req_method,</if>
            <if test="reqKey != null">req_key,</if>
            <if test="reqParams != null">req_params,</if>
            <if test="isSuccess != null">is_success,</if>
            <if test="effectRows != null">effect_rows,</if>
            <if test="timeOut != null">time_out,</if>
            <if test="exception != null">exception,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="logTitle != null">#{logTitle},</if>
            <if test="reqIp != null">#{reqIp},</if>
            <if test="reqAddress != null">#{reqAddress},</if>
            <if test="reqAgent != null">#{reqAgent},</if>
            <if test="reqBrowser != null">#{reqBrowser},</if>
            <if test="reqSystem != null">#{reqSystem},</if>
            <if test="reqUrl != null">#{reqUrl},</if>
            <if test="reqMethod != null">#{reqMethod},</if>
            <if test="reqKey != null">#{reqKey},</if>
            <if test="reqParams != null">#{reqParams},</if>
            <if test="isSuccess != null">#{isSuccess},</if>
            <if test="effectRows != null">#{effectRows},</if>
            <if test="timeOut != null">#{timeOut},</if>
            <if test="exception != null">#{exception},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>
    
    <update id="updateRequestApiKeySendLog" parameterType="RequestApiKeySendLog">
        update request_api_key_send_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="logTitle != null">log_title = #{logTitle},</if>
            <if test="reqIp != null">req_ip = #{reqIp},</if>
            <if test="reqAddress != null">req_address = #{reqAddress},</if>
            <if test="reqAgent != null">req_agent = #{reqAgent},</if>
            <if test="reqBrowser != null">req_browser = #{reqBrowser},</if>
            <if test="reqSystem != null">req_system = #{reqSystem},</if>
            <if test="reqUrl != null">req_url = #{reqUrl},</if>
            <if test="reqMethod != null">req_method = #{reqMethod},</if>
            <if test="reqKey != null">req_key = #{reqKey},</if>
            <if test="reqParams != null">req_params = #{reqParams},</if>
            <if test="isSuccess != null">is_success = #{isSuccess},</if>
            <if test="effectRows != null">effect_rows = #{effectRows},</if>
            <if test="timeOut != null">time_out = #{timeOut},</if>
            <if test="exception != null">exception = #{exception},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteRequestApiKeySendLogById" parameterType="Long">
        delete
        from request_api_key_send_log
        where id = #{id}
    </delete>
    
    <delete id="deleteRequestApiKeySendLogByIds" parameterType="String">
        delete from request_api_key_send_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>