<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.v1_blog.blog_history.mapper.BlogHistoryMapper">
    
    <resultMap type="BlogHistory" id="BlogHistoryResult">
        <result property="id" column="id"/>
        <result property="blogDocId" column="blog_doc_id"/>
        <result property="preContent" column="pre_content"/>
        <result property="userId" column="user_id"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectBlogHistoryVo">
        select id, blog_doc_id, pre_content, user_id, is_delete, create_time, update_time
        from blog_history
    </sql>
    
    <!--当天时间筛选 and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d') -->
    <select id="selectBlogHistoryList"
            parameterType="BlogHistory"
            resultMap="BlogHistoryResult">
        <include refid="selectBlogHistoryVo"/>
        <where>
            <if test="blogDocId != null ">and blog_doc_id = '${blogDocId}'</if>
            <if test="userId != null ">and user_id = '${userId}'</if>
            <if test="isDelete != null ">and is_delete = '${isDelete}'</if>
        </where>
    </select>
    
    <select id="selectBlogHistoryById"
            parameterType="Long"
            resultMap="BlogHistoryResult">
        <include refid="selectBlogHistoryVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertBlogHistory" parameterType="BlogHistory" useGeneratedKeys="true" keyProperty="id">
        insert into blog_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="blogDocId != null">blog_doc_id,</if>
            <if test="preContent != null">pre_content,</if>
            <if test="userId != null">user_id,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="blogDocId != null">#{blogDocId},</if>
            <if test="preContent != null">#{preContent},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    
    <update id="updateBlogHistory" parameterType="BlogHistory">
        update blog_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="blogDocId != null">blog_doc_id = #{blogDocId},</if>
            <if test="preContent != null">pre_content = #{preContent},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteBlogHistoryById" parameterType="Long">
        delete
        from blog_history
        where id = #{id}
    </delete>
    
    <delete id="deleteBlogHistoryByIds" parameterType="String">
        delete from blog_history where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>