<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.v1_blog.blog_project.mapper.BlogProjectMapper">
    
    <resultMap type="BlogProject" id="BlogProjectResult">
        <result property="id" column="id"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="name" column="name"/>
        <result property="intro" column="intro"/>
        <result property="icon" column="icon"/>
        <result property="coverImg" column="cover_img"/>
        <result property="role" column="role"/>
        <result property="roleValue" column="role_value"/>
        <result property="isWatermark" column="is_watermark"/>
        <result property="watermarkType" column="watermark_type"/>
        <result property="watermarkValue" column="watermark_value"/>
        <result property="isTop" column="is_top"/>
        <result property="visitor" column="visitor"/>
        <result property="sort" column="sort"/>
        <result property="sortField" column="sort_field"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="modifyTime" column="modify_time"/>
    </resultMap>
    
    <sql id="selectBlogProjectVo">
        select id,
               create_user_id,
               name,
               intro,
               icon,
               cover_img,
               role,
               role_value,
               is_watermark,
               watermark_type,
               watermark_value,
               is_top,
               visitor,
               sort,
               sort_field,
               is_delete,
               create_time,
               modify_time
        from blog_project
    </sql>
    
    <!--当天时间筛选 and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d') -->
    <select id="selectBlogProjectList"
            parameterType="BlogProject"
            resultMap="BlogProjectResult">
        <include refid="selectBlogProjectVo"/>
        <where>
            <if test="createUserId != null ">and create_user_id like '%${createUserId}%'</if>
            <if test="name != null  and name != ''">and name like '%${name}%'</if>
            <if test="intro != null  and intro != ''">and intro like '%${intro}%'</if>
            <if test="icon != null  and icon != ''">and icon like '%${icon}%'</if>
            <if test="coverImg != null  and coverImg != ''">and cover_img like '%${coverImg}%'</if>
            <if test="role != null ">and role like '%${role}%'</if>
            <if test="roleValue != null  and roleValue != ''">and role_value like '%${roleValue}%'</if>
            <if test="isWatermark != null ">and is_watermark like '%${isWatermark}%'</if>
            <if test="watermarkType != null ">and watermark_type like '%${watermarkType}%'</if>
            <if test="watermarkValue != null  and watermarkValue != ''">and watermark_value like '%${watermarkValue}%'
            </if>
            <if test="isTop != null ">and is_top like '%${isTop}%'</if>
            <if test="visitor != null ">and visitor like '%${visitor}%'</if>
            <if test="sort != null ">and sort like '%${sort}%'</if>
            <if test="sortField != null  and sortField != ''">and sort_field like '%${sortField}%'</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
            <if test="modifyTime != null ">and modify_time like '%${modifyTime}%'</if>
        </where>
    </select>
    
    <select id="selectBlogProjectById"
            parameterType="Long"
            resultMap="BlogProjectResult">
        <include refid="selectBlogProjectVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertBlogProject" parameterType="BlogProject" useGeneratedKeys="true" keyProperty="id">
        insert into blog_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createUserId != null">create_user_id,</if>
            <if test="name != null">name,</if>
            <if test="intro != null">intro,</if>
            <if test="icon != null">icon,</if>
            <if test="coverImg != null">cover_img,</if>
            <if test="role != null">role,</if>
            <if test="roleValue != null">role_value,</if>
            <if test="isWatermark != null">is_watermark,</if>
            <if test="watermarkType != null">watermark_type,</if>
            <if test="watermarkValue != null">watermark_value,</if>
            <if test="isTop != null">is_top,</if>
            <if test="visitor != null">visitor,</if>
            <if test="sort != null">sort,</if>
            <if test="sortField != null">sort_field,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createUserId != null">#{createUserId},</if>
            <if test="name != null">#{name},</if>
            <if test="intro != null">#{intro},</if>
            <if test="icon != null">#{icon},</if>
            <if test="coverImg != null">#{coverImg},</if>
            <if test="role != null">#{role},</if>
            <if test="roleValue != null">#{roleValue},</if>
            <if test="isWatermark != null">#{isWatermark},</if>
            <if test="watermarkType != null">#{watermarkType},</if>
            <if test="watermarkValue != null">#{watermarkValue},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="visitor != null">#{visitor},</if>
            <if test="sort != null">#{sort},</if>
            <if test="sortField != null">#{sortField},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
        </trim>
    </insert>
    
    <update id="updateBlogProject" parameterType="BlogProject">
        update blog_project
        <trim prefix="SET" suffixOverrides=",">
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="coverImg != null">cover_img = #{coverImg},</if>
            <if test="role != null">role = #{role},</if>
            <if test="roleValue != null">role_value = #{roleValue},</if>
            <if test="isWatermark != null">is_watermark = #{isWatermark},</if>
            <if test="watermarkType != null">watermark_type = #{watermarkType},</if>
            <if test="watermarkValue != null">watermark_value = #{watermarkValue},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="visitor != null">visitor = #{visitor},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="sortField != null">sort_field = #{sortField},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteBlogProjectById" parameterType="Long">
        delete
        from blog_project
        where id = #{id}
    </delete>
    
    <delete id="deleteBlogProjectByIds" parameterType="String">
        delete from blog_project where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>