<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.chip.chip_user_recharge.mapper.ChipUserRechargeMapper">
    
    <resultMap type="ChipUserRecharge" id="ChipUserRechargeResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="phone" column="phone"/>
        <result property="rechargeMoney" column="recharge_money"/>
        <result property="effectiveTime" column="effective_time"/>
        <result property="rechargeTime" column="recharge_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectChipUserRechargeVo">
        select id,
               user_id,
               phone,
               recharge_money,
               effective_time,
               recharge_time,
               is_delete,
               create_time,
               update_time
        from chip_user_recharge
    </sql>
    
    <select id="selectChipUserRechargeList"
            parameterType="ChipUserRecharge"
            resultMap="ChipUserRechargeResult">
        <include refid="selectChipUserRechargeVo"/>
        <where>
            <if test="userId != null ">and user_id like '%${userId}%'</if>
            <if test="phone != null  and phone != ''">and phone like '%${phone}%'</if>
            <if test="rechargeMoney != null ">and recharge_money like '%${rechargeMoney}%'</if>
            <if test="effectiveTime != null  and effectiveTime != ''">and effective_time like '%${effectiveTime}%'</if>
            <if test="rechargeTime != null ">and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d')</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
        </where>
    </select>
    
    <select id="selectChipUserRechargeById"
            parameterType="Long"
            resultMap="ChipUserRechargeResult">
        <include refid="selectChipUserRechargeVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertChipUserRecharge" parameterType="ChipUserRecharge" useGeneratedKeys="true" keyProperty="id">
        insert into chip_user_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="phone != null">phone,</if>
            <if test="rechargeMoney != null">recharge_money,</if>
            <if test="effectiveTime != null">effective_time,</if>
            <if test="rechargeTime != null">recharge_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="phone != null">#{phone},</if>
            <if test="rechargeMoney != null">#{rechargeMoney},</if>
            <if test="effectiveTime != null">#{effectiveTime},</if>
            <if test="rechargeTime != null">#{rechargeTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    
    <update id="updateChipUserRecharge" parameterType="ChipUserRecharge">
        update chip_user_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="rechargeMoney != null">recharge_money = #{rechargeMoney},</if>
            <if test="effectiveTime != null">effective_time = #{effectiveTime},</if>
            <if test="rechargeTime != null">recharge_time = #{rechargeTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteChipUserRechargeById" parameterType="Long">
        delete
        from chip_user_recharge
        where id = #{id}
    </delete>
    
    <delete id="deleteChipUserRechargeByIds" parameterType="String">
        delete from chip_user_recharge where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>