# Spring配置
spring:
  profiles:
    active: dev
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: false

# 忽略鉴权url
ignored:
  urls: /hi/**, /hello/**, /openApi/**, /file_attachment_group/**
  # urls: /hi/**, /hello/**, /openApi/**, /app_doc_doc/**


# 配置包路径日志级别
# 日志配置
logging:
  level:
    com.ruoyi: info
    org.springframework: warn
    org.apache.shiro.cache.ehcache: warn

#    com.ruoyi: debug
#    org.springframework: debug
#    org.apache.shiro.cache.ehcache: debug

# token配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌密钥
  secret: abcdefghijklmnopqrstuvwxyz
  # 令牌有效期（默认30分钟）
  expireTime: 1440

# MyBatis配置
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: com.ruoyi.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# PageHelper分页插件
pagehelper:
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
  pathMapping: /dev-api

# 防止XSS攻击
xss:
  # 过滤开关
  enabled: false
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*