<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.v3_books.book_book.mapper.BookBookMapper">
    
    <resultMap type="BookBook" id="BookBookResult">
        <result property="id" column="id"/>
        <result property="uuid" column="uuid"/>
        <result property="bookName" column="book_name"/>
        <result property="bookCover" column="book_cover"/>
        <result property="bAuthor" column="b_author"/>
        <result property="bPublisher" column="b_publisher"/>
        <result property="bPublicData" column="b_public_data"/>
        <result property="bTranslate" column="b_translate"/>
        <result property="bReadStartTime" column="b_read_start_time"/>
        <result property="bReadEndTime" column="b_read_end_time"/>
        <result property="bIsOver" column="b_is_over"/>
        <result property="editorMode" column="editor_mode"/>
        <result property="content" column="content"/>
        <result property="preContent" column="pre_content"/>
        <result property="visitor" column="visitor"/>
        <result property="role" column="role"/>
        <result property="roleValue" column="role_value"/>
        <result property="sortField" column="sort_field"/>
        <result property="sort" column="sort"/>
        <result property="isComment" column="is_comment"/>
        <result property="isTop" column="is_top"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectBookBookVo">
        select id,
               uuid,
               book_name,
               book_cover,
               b_author,
               b_publisher,
               b_public_data,
               b_translate,
               b_read_start_time,
               b_read_end_time,
               b_is_over,
               editor_mode,
               content,
               pre_content,
               visitor,
               role,
               role_value,
               sort_field,
               sort,
               is_comment,
               is_top,
               is_delete,
               create_time,
               update_time
        from book_book
    </sql>
    
    <!--当天时间筛选 and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d') -->
    <select id="selectBookBookList"
            parameterType="BookBook"
            resultMap="BookBookResult">
        <include refid="selectBookBookVo"/>
        <where>
            <if test="uuid != null  and uuid != ''">and uuid like '%${uuid}%'</if>
            <if test="bookName != null  and bookName != ''">and book_name like '%${bookName}%'</if>
            <if test="bookCover != null  and bookCover != ''">and book_cover like '%${bookCover}%'</if>
            <if test="bAuthor != null  and bAuthor != ''">and b_author like '%${bAuthor}%'</if>
            <if test="bPublisher != null  and bPublisher != ''">and b_publisher like '%${bPublisher}%'</if>
            <if test="bPublicData != null ">and b_public_data like '%${bPublicData}%'</if>
            <if test="bTranslate != null  and bTranslate != ''">and b_translate like '%${bTranslate}%'</if>
            <if test="bReadStartTime != null ">and b_read_start_time like '%${bReadStartTime}%'</if>
            <if test="bReadEndTime != null ">and b_read_end_time like '%${bReadEndTime}%'</if>
            <if test="bIsOver != null ">and b_is_over like '%${bIsOver}%'</if>
            <if test="editorMode != null ">and editor_mode like '%${editorMode}%'</if>
            <if test="content != null  and content != ''">and content like '%${content}%'</if>
            <if test="preContent != null  and preContent != ''">and pre_content like '%${preContent}%'</if>
            <if test="visitor != null ">and visitor like '%${visitor}%'</if>
            <if test="role != null ">and role like '%${role}%'</if>
            <if test="roleValue != null  and roleValue != ''">and role_value like '%${roleValue}%'</if>
            <if test="sortField != null  and sortField != ''">and sort_field like '%${sortField}%'</if>
            <if test="sort != null ">and sort like '%${sort}%'</if>
            <if test="isComment != null ">and is_comment like '%${isComment}%'</if>
            <if test="isTop != null ">and is_top like '%${isTop}%'</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
        </where>
    </select>
    
    <select id="selectBookBookById"
            parameterType="Long"
            resultMap="BookBookResult">
        <include refid="selectBookBookVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertBookBook" parameterType="BookBook" useGeneratedKeys="true" keyProperty="id">
        insert into book_book
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="bookName != null">book_name,</if>
            <if test="bookCover != null">book_cover,</if>
            <if test="bAuthor != null">b_author,</if>
            <if test="bPublisher != null">b_publisher,</if>
            <if test="bPublicData != null">b_public_data,</if>
            <if test="bTranslate != null">b_translate,</if>
            <if test="bReadStartTime != null">b_read_start_time,</if>
            <if test="bReadEndTime != null">b_read_end_time,</if>
            <if test="bIsOver != null">b_is_over,</if>
            <if test="editorMode != null">editor_mode,</if>
            <if test="content != null">content,</if>
            <if test="preContent != null">pre_content,</if>
            <if test="visitor != null">visitor,</if>
            <if test="role != null">role,</if>
            <if test="roleValue != null">role_value,</if>
            <if test="sortField != null">sort_field,</if>
            <if test="sort != null">sort,</if>
            <if test="isComment != null">is_comment,</if>
            <if test="isTop != null">is_top,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="bookName != null">#{bookName},</if>
            <if test="bookCover != null">#{bookCover},</if>
            <if test="bAuthor != null">#{bAuthor},</if>
            <if test="bPublisher != null">#{bPublisher},</if>
            <if test="bPublicData != null">#{bPublicData},</if>
            <if test="bTranslate != null">#{bTranslate},</if>
            <if test="bReadStartTime != null">#{bReadStartTime},</if>
            <if test="bReadEndTime != null">#{bReadEndTime},</if>
            <if test="bIsOver != null">#{bIsOver},</if>
            <if test="editorMode != null">#{editorMode},</if>
            <if test="content != null">#{content},</if>
            <if test="preContent != null">#{preContent},</if>
            <if test="visitor != null">#{visitor},</if>
            <if test="role != null">#{role},</if>
            <if test="roleValue != null">#{roleValue},</if>
            <if test="sortField != null">#{sortField},</if>
            <if test="sort != null">#{sort},</if>
            <if test="isComment != null">#{isComment},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    
    <update id="updateBookBook" parameterType="BookBook">
        update book_book
        <trim prefix="SET" suffixOverrides=",">
            <if test="uuid != null">uuid = #{uuid},</if>
            <if test="bookName != null">book_name = #{bookName},</if>
            <if test="bookCover != null">book_cover = #{bookCover},</if>
            <if test="bAuthor != null">b_author = #{bAuthor},</if>
            <if test="bPublisher != null">b_publisher = #{bPublisher},</if>
            <if test="bPublicData != null">b_public_data = #{bPublicData},</if>
            <if test="bTranslate != null">b_translate = #{bTranslate},</if>
            <if test="bReadStartTime != null">b_read_start_time = #{bReadStartTime},</if>
            <if test="bReadEndTime != null">b_read_end_time = #{bReadEndTime},</if>
            <if test="bIsOver != null">b_is_over = #{bIsOver},</if>
            <if test="editorMode != null">editor_mode = #{editorMode},</if>
            <if test="content != null">content = #{content},</if>
            <if test="preContent != null">pre_content = #{preContent},</if>
            <if test="visitor != null">visitor = #{visitor},</if>
            <if test="role != null">role = #{role},</if>
            <if test="roleValue != null">role_value = #{roleValue},</if>
            <if test="sortField != null">sort_field = #{sortField},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="isComment != null">is_comment = #{isComment},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteBookBookById" parameterType="Long">
        delete
        from book_book
        where id = #{id}
    </delete>
    
    <delete id="deleteBookBookByIds" parameterType="String">
        delete from book_book where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>