package ${packageName}.service;

import java.util.List;
import ${packageName}.domain.${ClassName};
import com.ruoyi.common.core.page.TableDataInfo;
import com.ruoyi.common.core.domain.AjaxResult;
/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service {
    /**
     * 查询详情
     */
    ${ClassName} select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

    /**
     * 查询列表
     */
    List<${ClassName}> select${ClassName}List(${ClassName} dto);

    /**
     * ++新增++
     */
    int insert${ClassName}(${ClassName} dto);

    /**
     * 修改
     */
    int update${ClassName}(${ClassName} dto);

    /**
     * --批量删除--
     */
    int delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaType}[] ${pkColumn.javaField}s);

    /**
     * -删除-
     */
    int delete${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaType} ${pkColumn.javaField});

}
