<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.v2_ideal.ideal_category.mapper.IdealCategoryMapper">
    
    <resultMap type="IdealCategory" id="IdealCategoryResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coverImage" column="cover_image"/>
        <result property="editorMode" column="editor_mode"/>
        <result property="content" column="content"/>
        <result property="preContent" column="pre_content"/>
        <result property="visitor" column="visitor"/>
        <result property="role" column="role"/>
        <result property="roleValue" column="role_value"/>
        <result property="sort" column="sort"/>
        <result property="childSortField" column="child_sort_field"/>
        <result property="isTop" column="is_top"/>
        <result property="isComment" column="is_comment"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectIdealCategoryVo">
        select id,
               name,
               cover_image,
               editor_mode,
               content,
               pre_content,
               visitor,
               role,
               role_value,
               sort,
               child_sort_field,
               is_top,
               is_comment,
               is_delete,
               create_time,
               update_time
        from ideal_category
    </sql>
    
    <!--当天时间筛选 and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d') -->
    <select id="selectIdealCategoryList"
            parameterType="IdealCategory"
            resultMap="IdealCategoryResult">
        <include refid="selectIdealCategoryVo"/>
        <where>
            <if test="name != null  and name != ''">and name like '%${name}%'</if>
            <if test="coverImage != null  and coverImage != ''">and cover_image like '%${coverImage}%'</if>
            <if test="editorMode != null ">and editor_mode like '%${editorMode}%'</if>
            <if test="content != null  and content != ''">and content like '%${content}%'</if>
            <if test="preContent != null  and preContent != ''">and pre_content like '%${preContent}%'</if>
            <if test="visitor != null ">and visitor like '%${visitor}%'</if>
            <if test="role != null ">and role like '%${role}%'</if>
            <if test="roleValue != null  and roleValue != ''">and role_value like '%${roleValue}%'</if>
            <if test="sort != null ">and sort like '%${sort}%'</if>
            <if test="childSortField != null  and childSortField != ''">and child_sort_field like
                '%${childSortField}%'
            </if>
            <if test="isTop != null ">and is_top like '%${isTop}%'</if>
            <if test="isComment != null ">and is_comment like '%${isComment}%'</if>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
        </where>
    </select>
    
    <select id="selectIdealCategoryById"
            parameterType="Long"
            resultMap="IdealCategoryResult">
        <include refid="selectIdealCategoryVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertIdealCategory" parameterType="IdealCategory" useGeneratedKeys="true" keyProperty="id">
        insert into ideal_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="coverImage != null">cover_image,</if>
            <if test="editorMode != null">editor_mode,</if>
            <if test="content != null">content,</if>
            <if test="preContent != null">pre_content,</if>
            <if test="visitor != null">visitor,</if>
            <if test="role != null">role,</if>
            <if test="roleValue != null">role_value,</if>
            <if test="sort != null">sort,</if>
            <if test="childSortField != null">child_sort_field,</if>
            <if test="isTop != null">is_top,</if>
            <if test="isComment != null">is_comment,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="coverImage != null">#{coverImage},</if>
            <if test="editorMode != null">#{editorMode},</if>
            <if test="content != null">#{content},</if>
            <if test="preContent != null">#{preContent},</if>
            <if test="visitor != null">#{visitor},</if>
            <if test="role != null">#{role},</if>
            <if test="roleValue != null">#{roleValue},</if>
            <if test="sort != null">#{sort},</if>
            <if test="childSortField != null">#{childSortField},</if>
            <if test="isTop != null">#{isTop},</if>
            <if test="isComment != null">#{isComment},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>
    
    <update id="updateIdealCategory" parameterType="IdealCategory">
        update ideal_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="coverImage != null">cover_image = #{coverImage},</if>
            <if test="editorMode != null">editor_mode = #{editorMode},</if>
            <if test="content != null">content = #{content},</if>
            <if test="preContent != null">pre_content = #{preContent},</if>
            <if test="visitor != null">visitor = #{visitor},</if>
            <if test="role != null">role = #{role},</if>
            <if test="roleValue != null">role_value = #{roleValue},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="childSortField != null">child_sort_field = #{childSortField},</if>
            <if test="isTop != null">is_top = #{isTop},</if>
            <if test="isComment != null">is_comment = #{isComment},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteIdealCategoryById" parameterType="Long">
        delete
        from ideal_category
        where id = #{id}
    </delete>
    
    <delete id="deleteIdealCategoryByIds" parameterType="String">
        delete from ideal_category where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>