import request from '@/utils/request'

//
// ${functionName} Api
//

// 查询列表
export function list${BusinessName}(data) {
    return request({
        url: '/${moduleName}/${businessName}/list',
        method: 'post',
        data: data
    })
}

// 详细
export function get${BusinessName}(${pkColumn.javaField}) {
    return request({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: 'get'
    })
}

// ++新增++
export function add${BusinessName}(data) {
    return request({
        url: '/${moduleName}/${businessName}',
        method: 'post',
        data: data
    })
}

// +修改+
export function update${BusinessName}(data) {
    return request({
        url: '/${moduleName}/${businessName}',
        method: 'put',
        data: data
    })
}

// --删除--
export function del${BusinessName}(${pkColumn.javaField}) {
    return request({
        url: '/${moduleName}/${businessName}/' + ${pkColumn.javaField},
        method: 'delete'
    })
}
