<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.llm_claude_key.mapper.LlmClaudeKeyMapper">

    <resultMap type="LlmClaudeKey" id="LlmClaudeKeyResult">
            <result property="id" column="id"    />
            <result property="apiType" column="api_type"    />
            <result property="info" column="info"    />
            <result property="orgUuid" column="org_uuid"    />
            <result property="sessionKey" column="sessionKey"    />
            <result property="conversationUuid" column="conversation_uuid"    />
            <result property="createUser" column="create_user"    />
            <result property="isDelete" column="is_delete"    />
            <result property="createTime" column="create_time"    />
            <result property="updateTime" column="update_time"    />
    </resultMap>

    <sql id="selectLlmClaudeKeyVo">
        select id,
               api_type, info,
               org_uuid, sessionKey, conversation_uuid,
               create_user,
               is_delete, create_time, update_time
        from llm_claude_key
    </sql>

    <select id="selectLlmClaudeKeyList"
            parameterType="LlmClaudeKey"
            resultMap="LlmClaudeKeyResult">
        <include refid="selectLlmClaudeKeyVo"/>
        <where>
            <if test="apiType != null  and apiType != ''"> and api_type like '%${apiType}%' </if>
            <if test="info != null  and info != ''"> and info like '%${info}%'</if>
            <if test="createUser != null  and createUser != ''"> and create_user like '%${createUser}%'</if>
            <if test="isDelete != null "> and is_delete like #{isDelete}</if>
        </where>
        order by '-create_time'
    </select>

    <select id="selectLlmClaudeKeyById"
            parameterType="Long"
            resultMap="LlmClaudeKeyResult">
            <include refid="selectLlmClaudeKeyVo"/>
            where id = #{id}
    </select>

    <insert id="insertLlmClaudeKey" parameterType="LlmClaudeKey" useGeneratedKeys="true" keyProperty="id">
        insert into llm_claude_key
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="apiType != null">api_type,</if>
            <if test="info != null">info,</if>
            <if test="orgUuid != null">org_uuid,</if>
            <if test="sessionKey != null">sessionKey,</if>
            <if test="conversationUuid != null">conversation_uuid,</if>
            <if test="createUser != null">create_user,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="apiType != null">#{apiType},</if>
            <if test="info != null">#{info},</if>
            <if test="orgUuid != null">#{orgUuid},</if>
            <if test="sessionKey != null">#{sessionKey},</if>
            <if test="conversationUuid != null">#{conversationUuid},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateLlmClaudeKey" parameterType="LlmClaudeKey">
        update llm_claude_key
        <trim prefix="SET" suffixOverrides=",">
            <if test="apiType != null">api_type = #{apiType},</if>
            <if test="info != null">info = #{info},</if>
            <if test="orgUuid != null">org_uuid = #{orgUuid},</if>
            <if test="sessionKey != null">sessionKey = #{sessionKey},</if>
            <if test="conversationUuid != null">conversation_uuid = #{conversationUuid},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLlmClaudeKeyById" parameterType="Long">
        delete from llm_claude_key where id = #{id}
    </delete>

    <delete id="deleteLlmClaudeKeyByIds" parameterType="String">
        delete from llm_claude_key where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>