<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.do_spu.mapper.DoSpuMapper">
    
    <resultMap type="DoSpu" id="DoSpuResult">
        <result property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDelete" column="is_delete"/>
        <result property="isSuperuser" column="is_superuser"/>
        <result property="isLoginView" column="is_login_view"/>
        <result property="simpleName" column="simple_name"/>
        <result property="simpleText" column="simple_text"/>
        <result property="detail" column="detail"/>
        <result property="imgUpload" column="img_upload"/>
    </resultMap>
    
    <sql id="selectDoSpuVo">
        select id,
               create_time,
               update_time,
               is_delete,
               is_superuser,
               is_login_view,
               simple_name,
               simple_text,
               detail,
               img_upload
        from do_spu
    </sql>
    
    <select id="selectDoSpuList"
            parameterType="DoSpu"
            resultMap="DoSpuResult">
        <include refid="selectDoSpuVo"/>
        <where>
            <if test="isDelete != null ">and is_delete like '%${isDelete}%'</if>
            <if test="isSuperuser != null ">and is_superuser like '%${isSuperuser}%'</if>
            <if test="isLoginView != null ">and is_login_view like '%${isLoginView}%'</if>
            <if test="simpleName != null  and simpleName != ''">and simple_name like concat('%', #{simpleName}, '%')
            </if>
            <if test="simpleText != null  and simpleText != ''">and simple_text like '%${simpleText}%'</if>
            <if test="detail != null  and detail != ''">and detail like '%${detail}%'</if>
            <if test="imgUpload != null  and imgUpload != ''">and img_upload like '%${imgUpload}%'</if>
        </where>
    </select>
    
    <select id="selectDoSpuById"
            parameterType="Long"
            resultMap="DoSpuResult">
        <include refid="selectDoSpuVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertDoSpu" parameterType="DoSpu" useGeneratedKeys="true" keyProperty="id">
        insert into do_spu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="isSuperuser != null">is_superuser,</if>
            <if test="isLoginView != null">is_login_view,</if>
            <if test="simpleName != null and simpleName != ''">simple_name,</if>
            <if test="simpleText != null">simple_text,</if>
            <if test="detail != null">detail,</if>
            <if test="imgUpload != null">img_upload,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="isSuperuser != null">#{isSuperuser},</if>
            <if test="isLoginView != null">#{isLoginView},</if>
            <if test="simpleName != null and simpleName != ''">#{simpleName},</if>
            <if test="simpleText != null">#{simpleText},</if>
            <if test="detail != null">#{detail},</if>
            <if test="imgUpload != null">#{imgUpload},</if>
        </trim>
    </insert>
    
    <update id="updateDoSpu" parameterType="DoSpu">
        update do_spu
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="isSuperuser != null">is_superuser = #{isSuperuser},</if>
            <if test="isLoginView != null">is_login_view = #{isLoginView},</if>
            <if test="simpleName != null and simpleName != ''">simple_name = #{simpleName},</if>
            <if test="simpleText != null">simple_text = #{simpleText},</if>
            <if test="detail != null">detail = #{detail},</if>
            <if test="imgUpload != null">img_upload = #{imgUpload},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteDoSpuById" parameterType="Long">
        delete
        from do_spu
        where id = #{id}
    </delete>
    
    <delete id="deleteDoSpuByIds" parameterType="String">
        delete from do_spu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>