<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.app.zblog.v4_files.file_image.mapper.FileImageMapper">
    
    <resultMap type="FileImage" id="FileImageResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="groupId" column="group_id"/>
        <result property="title" column="title"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="md5" column="md5"/>
        <result property="fileSuffix" column="file_suffix"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    
    <sql id="selectFileImageVo">
        select id,
               user_id,
               group_id,
               title,
               file_name,
               file_path,
               md5,
               file_suffix,
               is_delete,
               create_time,
               update_time
        from file_image
    </sql>
    
    <!--当天时间筛选 and DATE_FORMAT(recharge_time, '%Y-%m-%d') = DATE_FORMAT(#{rechargeTime}, '%Y-%m-%d') -->
    <select id="selectFileImageList"
            parameterType="FileImage"
            resultMap="FileImageResult">
        <include refid="selectFileImageVo"/>
        <where>
            <if test="userId != null ">and user_id = '${userId}'</if>
            <if test="groupId != null ">and group_id = '#{groupId}' </if>
            <if test="title != null  and title != ''">and title like '%${title}%'</if>
            <if test="fileName != null  and fileName != ''">and file_name like '%${fileName}%'</if>
            <if test="filePath != null  and filePath != ''">and file_path like '%${filePath}%'</if>
            <if test="md5 != null  and md5 != ''">and md5 like '%${md5}%'</if>
            <if test="fileSuffix != null  and fileSuffix != ''">and file_suffix = '${fileSuffix}'</if>
            <if test="isDelete != null ">and is_delete = '${isDelete}'</if>
        </where>
    </select>
    
    <select id="query_image_list"
            parameterType="FileImage"
            resultType="map">
        select id,
               user_id     as userId,
               (
                   select username
                   from df_user uu
                   where uu.id = img.user_id
               )           as username,
               (
                   select first_name
                   from df_user uu
                   where uu.id = img.user_id
               )           as nickName,
               group_id    as groupId,
               (
                   select group_name from file_image_group gg where gg.group_id = img.group_id
               )           as groupName,
               title,
               file_name   as fileName,
               file_path   as filePath,
               md5,
               file_suffix as fileSuffix,
               is_delete   as isDelete,
               create_time as createTime,
               update_time as updateTime
        from file_image img
        <where>
            <if test="userId != null ">and user_id = '${userId}'</if>
            <if test="groupId != null ">and group_id = '#{groupId}' </if>
            <if test="title != null  and title != ''">and title like '%${title}%'</if>
            <if test="fileName != null  and fileName != ''">and file_name like '%${fileName}%'</if>
            <if test="filePath != null  and filePath != ''">and file_path like '%${filePath}%'</if>
            <if test="md5 != null  and md5 != ''">and md5 like '%${md5}%'</if>
            <if test="fileSuffix != null  and fileSuffix != ''">and file_suffix = '${fileSuffix}'</if>
            <if test="isDelete != null ">and is_delete = '${isDelete}'</if>
        </where>
    </select>
    
    <select id="selectFileImageList_v2" resultMap="FileImageResult" parameterType="long" >
        select id,
               user_id,
               group_id,
               title,
               file_name,
               file_path,
               md5,
               file_suffix,
               is_delete,
               create_time,
               update_time
        from file_image
        where group_id = ${group_id}
    </select>
    
    <select id="selectFileImageById"
            parameterType="Long"
            resultMap="FileImageResult">
        <include refid="selectFileImageVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertFileImage" parameterType="FileImage" useGeneratedKeys="true" keyProperty="id">
        insert into file_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="groupId != null">group_id,</if>
            <if test="title != null">title,</if>
            <if test="fileName != null">file_name,</if>
            <if test="filePath != null">file_path,</if>
            <if test="upMethod != null">up_method,</if>
            <if test="md5 != null">md5,</if>
            <if test="fileSuffix != null">file_suffix,</if>
            <if test="fileSize != null">file_size,</if>
            <if test="isDelete != null">is_delete,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="groupId != null">#{groupId},</if>
            <if test="title != null">#{title},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="upMethod != null">#{upMethod},</if>
            <if test="md5 != null">#{md5},</if>
            <if test="fileSuffix != null">#{fileSuffix},</if>
            <if test="fileSize != null">#{fileSize},</if>
            <if test="isDelete != null">#{isDelete},</if>
        </trim>
    </insert>
    
    <update id="updateFileImage" parameterType="FileImage">
        update file_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="md5 != null">md5 = #{md5},</if>
            <if test="fileSuffix != null">file_suffix = #{fileSuffix},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>
    
    <delete id="deleteFileImageById" parameterType="Long">
        delete
        from file_image
        where id = #{id}
    </delete>
    
    <delete id="deleteFileImageByIds" parameterType="String">
        delete from file_image where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>